

<div class="lateral-nav">
<!--lateral menu -->
<div class="item-lateral-nav" ng-repeat="char in characters">
    <img ng-src="{{char.img}}" ng-click="goTo(char.name)">
    <img src="assets/img/cursor.png" class="arrow">
</div>
</div>
<section class="cd-section visible">
    <div id="frame1" class="div-section" >
        <div class="main-header" id="header">

            <div >
                <div class="main-screen girado2" id="monitor">
                    <div style="width:755px;height:288px;overflow:hidden;" ng-include="screenContent">

                    </div>

                    <!-- punto rojo -->
                    <div class="red-dot"></div>
                </div>

                <div class="tv-side">
                </div>
                <div class="mando ">
                    <img src="assets/img/mando.png">
                </div>
            </div>


        </div>
        <!-- </section>-->
    </div>
</section>
<section class="cd-section" ng-repeat="char in characters">
    <div id="frame2"  class="div-section" >
        <div class="item-frame">
            <div class="frame-left">
                <div class="name-frame">
                    {{char.name}}
                </div>
                <img ng-src="{{char.frame}}">
                <div class="stats-container">
                    <table>
                        <tr>
                            <td>
                                HP
                            </td>
                            <td>
                                <span class="hp">0</span>/<span class="hp-max"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="hp-progressbar progressbar" >
                                    <div class="bar color3"><span></span></div>
                                   <!-- <div class="label"><span></span></div>-->
                                 </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                MANA
                            </td>
                            <td>
                                <span class="mana">0</span>/<span class="mana-max"></span>
                            </td>
                        </tr><tr>
                            <td>
                                <div class="mana-progressbar progressbar"  >
                                    <div class="bar color4"><span></span></div>
                                   <!-- <div class="label"><span></span></div>-->
                                 </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                EXP
                            </td>
                            <td>
                                <span class="exp">0</span>/<span class="exp-max"></span>
                            </td>
                        </tr><tr>
                            <td>
                                <div class="exp-progressbar progressbar"  >
                                    <div class="bar color2"><span></span></div>
                                   <!-- <div class="label"><span></span></div>-->
                                 </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="frame-right"><!--derecha-->
                <div ng-repeat="gal in char.gallery" class="char-gallery-link">
                    <a href="{{baseUrl}}/gallery"  ><img ng-src="{{gal.img}}"></a>
                </div>
            </div>
        </div>
        <!-- </section>-->
    </div>
</section>


